$snow-white: #fff;
$slate-gray: #333;
$thunder-gray: #222;

$border-color: $slate-gray;
$background-color: $slate-gray;
$background-color-xdark: $thunder-gray;
$text-color: $snow-white;

$whitespace-xxs: 0.5vw;
$whitespace-xs: 1vw;
$whitespace: 2vw;
$whitespace-xl: 3vw;